*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
  --ff-body: 'Roboto', sans-serif;
  --fc-document: #E1E1E6;
}

body{
  display: grid;
  
  height: 100vh;
  

  background-image: url('/Assets/mountains-universe-3.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  overflow: hidden;
}

div{
  display: flex;
  flex-direction: column;
  max-width: 55vw;
  gap: 1.6rem;

  margin-top: -100px;
  margin-left: 10.2rem;
}

div h1{
  font-family: var(--ff-body);
  font-weight: 700;
  font-size: 3vw;
  line-height: 125%;
  color: var(--fc-document);
}

div p{
  font-family: var(--ff-body);
  font-weight: 400;
  font-size: 1.3vw;
  line-height: 160%;
  color: var(--fc-document);
}